*{
    margin: 0;
    padding: 0;
}

/*body{
    background-size: cover;
    background-attachment: fixed;
    display: block;
    background-position: center center;   
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}*/

#general{
    margin: auto;
    background-image: url(../imagen/fondoLineas.jpg);
    background-repeat: repeat-x, repeat-y;
    background-size: contain;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

header{
    background: #009770;
    width: 100%;
    height: 70px;
}

.ancho{
    background: inherit;
    width: 80%;
    height: 70px;
    margin: auto;
}

.logo{
    background: inherit;
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 4px;
    box-sizing: border-box;
}

.logo a img{
    width: 200px;
    height: 70px;
}
nav{
    background: inherit;
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a{
    list-style: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}

nav ul li a:hover{
    color: rgb(37, 28, 26);
}

.hero{
    color: white;
    font-size: 30px;
    height: 680px;
    background-image: url(../imagen/fondoBienvenida.jpg);
    background-size: 80% 700px;  
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0px;
    margin-bottom: 0px;
    position: relative;
}

.bienvenida{
    max-width: 80%;
    flex: 1;
    margin: 100px 140px;
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
    align-items: flex-start;
    height: 20px;
    flex-wrap: inherit;
}

section div h2 p{
    font-size: 40px;
}

.footer{
    letter-spacing: 0.3;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    background-color: #00110f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.divfooter{
    max-width: 1000px;
    flex: 1;
    margin: auto;
    margin-top: 0px;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
}

